# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environment
.venv/
env/
venv/

# Editor/IDE files
.DS_Store
.vscode/
.idea/

# Environment variables
.env
.env.seed

# Jupyter Notebook related files
.ipynb_checkpoints/

# Dash-specific temporary files or logs
*.log
tmp/