.navbar-dark {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.custom-navbar-link {
    text-decoration: none;
}

.custom-navbar-icon {
    color: #18bc9c;
}

.navbar-dark .custom-navbar-brand {
    font-weight: 600;
    --bs-navbar-brand-hover-color: #fff;
}

.navbar-dark .nav-link,
.navbar-dark .dropdown-toggle {
    margin-left: 1rem;
}

footer {
    color: #fff;
}