body {
    background-color: #ecf0f1;
}

.navbar-dark {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.custom-navbar-link {
    text-decoration: none;
}

.custom-navbar-icon {
    color: #18bc9c;
}

.navbar-dark .custom-navbar-brand {
    font-weight: 600;
    --bs-navbar-brand-hover-color: #fff;
}

.navbar-dark .nav-link,
.navbar-dark .dropdown-toggle {
    margin-left: 1rem;
}

.viewport-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
}

footer {
    color: #fff;
}

:root {
    --chart-height: 320px;
}

@media (max-width: 576px) {
    :root {
        --chart-height: 250px;
    }
}

.kpi-card {
    line-height: 2;
}